<% // Function to output a list of links %>
<% var listLinks = function(pages) { %>
		<div class="core_footer__links unstyled">
		<% pages.forEach( (slug, index) => { %>
			<% var page = plugins.getEntry({slug: slug}); %>
			<% if(page) { %>
				<a href="<%- page.url %>" class="core_footer__link"><%- page.title %></a>
			<% } %>
		<% }); %>
		</div>
<% } %>

<footer class="core_footer">
	<!-- TOP AREA WITH COLUMNS -->
	<div class="container core_footer__top_container">
		<div class="core_footer__column">
			<h4 class="core_footer__heading"><%- site.settings.footer_about_heading %></h4>
			<div class="core_footer__description"><%- plugins.richText(site.settings.footer_about_description) %></div>
			<% if(site.settings.footer_about_link && site.settings.footer_about_link.length) { %>
				<a href="<%- plugins.storylink(site.settings.footer_about_link[0].link) %>" class="button button--secondary core_footer__button"><%- site.settings.footer_about_link[0].text %></a>	
			<% } %>
		</div>
		<div class="core_footer__column">
			<h4 class="core_footer__heading">Column 1</h4>
			<% listLinks(['about-us', 'services', 'events', 'insights', 'contact-us']) %>
		</div>
		<div class="core_footer__column">
			<h4 class="core_footer__heading">Column 2</h4>
			<% listLinks(['about-us', 'services', 'events', 'insights', 'contact-us']) %>
		</div>
		<div class="core_footer__column">
			<h4 class="core_footer__heading">Column 3</h4>
			<% listLinks(['about-us', 'services', 'events', 'insights', 'contact-us']) %>
		</div>
		<div class="core_footer__column">
			<h4 class="core_footer__heading">Contact Us</h4>
			<p class="core_footer__description"><%- plugins.richText(site.settings.footer_contact_description) %></p>
			<div class="core_footer__contacts">
				<% if(site.settings.contact_phone) { %>
					<a href="tel:<%- site.settings.contact_phone %>"><%- site.settings.contact_phone %></a>
				<% } %>
				<% if(site.settings.contact_email) { %>
					<a href="mailto:<%- site.settings.contact_email %>"><%- site.settings.contact_email %></a>
				<% } %>
			</div>
			<div class="social_icons core_footer__social_icons">
			    <a target="_blank" class="social_icons__item core_footer__social_item" href="<%- site.settings.social_facebook %>">
			    	<span class="social_icons__icon icon-facebook"></span>
			    </a>
			    <a target="_blank" class="social_icons__item core_footer__social_item" href="<%- site.settings.social_youtube %>">
			    	<span class="social_icons__icon icon-youtube"></span>
			    </a>
			    <a target="_blank" class="social_icons__item core_footer__social_item" href="<%- site.settings.social_vimeo %>">
			    	<span class="social_icons__icon icon-vimeo"></span>
			    </a>
			    <a target="_blank" class="social_icons__item core_footer__social_item" href="<%- site.settings.social_instagram %>">
			    	<span class="social_icons__icon icon-instagram"></span>
			    </a>
			</div>
		</div>
	</div>
	
	<!-- BOTTOM AREA WITH COPYRIGHT -->
	<div class="core_footer__bottom">
		<div class="container core_footer__bottom_container">
			<div class="core_footer__copyright">
				© Copyright <%- site.config.name %> <%- (new Date()).getFullYear() %>. All Rights Reserved. Made by <a href="https://www.togetherdigital.ie/" target="_blank">Together Digital</a>
			</div>
			<div class="core_footer__bottom_links">
				<a class="core_footer__bottom_link" href="/sitemap/">Site Map</a>
				<a class="core_footer__bottom_link" href="/privacy/">Privacy</a>
				<a class="core_footer__bottom_link" href="/terms/">Terms</a>
			</div>
		</div>
	</div>
</footer>