// ======================================================
// Block Styles
// ============
.block_sectors {
	$block: &;

	// LAYOUT
	// ==============
	padding-bottom: 118px;
	padding-top: 98px;
	text-align: center;

	@include breakpoint(small down) {
		padding-bottom: 70px;
	}

	// TEXT
	// ================
	&__heading {
		margin-bottom: 18px;
	}

	&__description {
		max-width: 751px;
		margin-bottom: 41px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		width: 100%;
	}

	// GRID
	// ==============
	&__sectors {
		@include flexgrid($columns: 3, $horizontal-align: center, $spacing: 2px, $vertical-spacing: 41px, $breakpoint: medium UP);
		@include flexgrid($columns: 2, $horizontal-align: center, $spacing: 2px, $vertical-spacing: 20px, $breakpoint-between: 400px 640px);
		@include flexgrid($columns: 1, $horizontal-align: center, $spacing: 2px, $vertical-spacing: 20px, $breakpoint: 399px down);
	}

	&__sector {
		cursor: pointer;
		text-align: center;

		&:hover {
			#{$block}__sector_heading {
				color: $primary-color;
				text-decoration: underline;
			}
		}
	}

	&__sector_heading {
		font-weight: $weight-normal;
		@include transitions();

		@include breakpoint(small down) {
			font-size: 1.125rem;
		}
	}

	&__sector_image {
        height: 192px;
        margin-bottom: 28px;
        width: 100%;
        
        @include breakpoint(small down) {
            height: 150px;
            margin-bottom: 20px;
        }
	}
}