<header class="core_header core_header--<%- page.slug %> core_header--<%- plugins.slugify(page.data.component) %>">
	<!-- SECONDARY NAV -->
	<div class="core_header__secondary_nav">
		<div class="container core_header__secondary_nav_container">
			<a href="" class="core_header__secondary_nav_link">Pay Online</a>
			<a href="/news/" class="core_header__secondary_nav_link">Book Online Meeting</a>
		</div>
	</div>

	<!-- LOGO AND NAVIGATION -->
	<div class="container core_header__container">
		<!-- Logo -->
		<a href="/" class="core_header__logo" data-no-instantclick>
			<img src="/assets/images/design/logo.png" class="core_header__logo_image" alt="<%= site.config.name %> Logo" />
		</a>

		<!-- Main Nav -->
		<%- plugins.include('snippets/header/nav.html') %>
		
		<!-- Burger Menu -->
		<span class="burger" data-flash-responsive-menu-trigger="main_menu">
			<span class="burger__line"></span><span class="burger__line"></span><span class="burger__line"></span>
		</span>
	</div>
</header>

<!-- MOBILE MENU -->
<div class="responsive_menu" data-flash-responsive-menu="main_menu">
	<div class="responsive_menu__inner_wrapper">
		<div class="responsive_menu__inner">
			<%- plugins.include('snippets/header/nav.html', {class: 'responsive_navigation', cache: true }); %>
		</div>
	</div>
</div>