<% var block = options.block %>
<%- block._editable %>

<div class="block_home_banner <%- block.custom_class %>">
	<div class="container block_home_banner__container">
        <h1 class="block_home_banner__heading"><%- block.heading %><span class="block_home_banner__dot">.</span></h1>
        <% if(plugins.richText(block.description)){ %>
            <div class="block_home_banner__description wysiwyg"><%- plugins.richText(block.description) %></div>
        <% } %>
    </div>
    <% if(block.image){ %>
        <div class="block_home_banner__image_container">
            <div class="block_home_banner__image_wrapper">
                <div class="block_home_banner__image cover_image">
                    <img src="<%- plugins.imgix(block.image, { q: 60 , w:1300 , auto: 'format' }) %>" alt="<%- block.heading %>">
                </div>
            </div>
        </div>     
    <% } %>
</div>