<!DOCTYPE html>
<%       
    /*******************************************************
    * Optional detail page
    *******************************************************/ 
    // In case a module has an optional details page, this bit of code
    // replaces the page.data of the current entry with page.data.detail_page[0]
    // to get the content of the detail page

    if(site.config.modules_with_optional_detail_page.length) {
        // List of modules with an optional detail page
        var optional_detail_page_modules = site.config.modules_with_optional_detail_page;

        // List of modules with an optional detail page without any fallback page
        var optional_detail_page_modules_without_fallback = site.config.modules_with_optional_detail_page_without_fallback;
        
        if(page.data && page.data.component && optional_detail_page_modules.includes(page.data.component)  && page.data.enable_detail_page  && page.data.detail_page && page.data.detail_page.length) {
            var page_original_data = Object.assign({}, page.data);
            page.data = Object.assign({}, page.data.detail_page[0]); 
            if (!page.data.banner_heading) {
                page.data.show_banner = true;
                page.data.banner_heading = page.title;
            }
        } else if(page.data && page.data.component && optional_detail_page_modules_without_fallback.includes(page.data.component) && !page.data.enable_detail_page) {
            page.data.prevent_indexing = true;
        }
    }
%>
<html lang="en">
    <head>
        <% if(site.config.google_tag_manager) { %>
            <!-- Google Tag Manager -->
            <script>
                if(navigator.userAgent.indexOf("Chrome-Lighthouse") == -1) {
                    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','<%- site.config.google_tag_manager %>');
                }
            </script>
            <!-- End Google Tag Manager -->
        <% } %>

        <!-- SEO -->
        <!-- === -->
        <%- plugins.include('snippets/seo.html') %>

        <!-- Smartphone Tab Color & Other Meta Stuff -->
        <!-- ======================================= -->
        <meta name="theme-color" content="<%- site.config.tab_color %>" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="snum" content="<%- site.config.storyblok.space_id %>">
        <meta name="env" content="<%- environment %>">
        <meta name="gtm" content="<%- site.config.google_tag_manager %>">

        <!-- Favicon -->
        <!-- ======= -->
        <%- plugins.include('snippets/favicon.html', {cache: true}) %>

        <!-- Open Graph -->
        <!-- ========== -->
        <%- plugins.include('snippets/opengraph.html'); %>

        <!-- Google Fonts via WebFont Loader -->
        <!-- =============================== -->
        <%- plugins.include('snippets/webfonts.html'); %>

        <!-- Critical CSS (Production Only) -->
        <!-- ============================== -->
        <% if(environment == 'production') { %>
            <%- plugins.include('snippets/criticalcss.html') %>
        <% } else { %>
            <link rel="stylesheet" href="/assets/css/bundle.min.css?v=<%- site.config.timestamp %>" />
        <% } %>
        
        <!-- GFonts preconnect -->
        <!-- ================= -->
        <link rel="preconnect" href="https://fonts.google.com" />

        <!-- Canonical meta -->
        <!-- ============== -->
        <% if(page.url.indexOf('homepage') >= 0) { %>
            <meta name="robots" content="noindex" />
            <meta name="googlebot" content="noindex" />
        <% } else { %>
            <link rel="canonical" href="<%- site.config.url + page.url.replace(/\/$/, '')  %>/" />
        <% } %>

    </head>
    <body class="<%- page.data.component ? plugins.slugify(page.data.component) : '' %> <%- plugins.segment(1) ? plugins.segment(1) : 'homepage' %>">

        <!-- Header -->
        <!-- ====== -->
        <!-- Here you can add some if statements if you want to use specific header/footer for some pages (ex: homepage) -->
        <% if(page.data.banner_hide != 'yes') { %>
            <%- plugins.include('blocks/core/header/view.html') %>
        <% } %>

        <!-- Page Content -->
        <!-- ============ -->
        <%- plugins.blocks([{component: '[Block] Banner'}]) %>
        <section id="top" class="main_container <% if(page.data.sidebar && page.data.sidebar.length) { %>main_container--with_sidebar<% } %> <% if(!page.data.body_bottom || !page.data.body_bottom.length) { %>main_container--no_body_bottom<% } %>">
            <div <% if(page.data.sidebar && page.data.sidebar.length) { %>class="container main_container__inner"<% } %>>

                <!-- Body -->
                <section class="main_container__content" role="main">
                    <% if(page.content) { %>

                        <!-- Raw Page Content -->
                        <!-- ================ -->
                        <%- page.content %>

                    <% } else { %>

                        <!-- Blocks Page -->
                        <!-- =========== -->
                        <%- plugins.pageContent(page.data) %>

                    <% } %>
                </section>

                <!-- Sidebar -->
                <% if(page.data.sidebar && page.data.sidebar.length) { %>
                    <aside class="main_container__sidebar">
                        <%- plugins.blocks(page.data.sidebar) %>
                    </aside>
                <% } %>
            </div>


            <!-- Sidebar Mobile -->
            <% if(page.data.sidebar && page.data.sidebar.length) { %>
                <aside class="main_container__sidebar container main_container__sidebar--mobile">
                    <%- plugins.blocks(page.data.sidebar) %>
                </aside>
            <% } %>
        </section>

        <!-- Body Bottom -->
        <!-- =========== -->
        <% if(page.data.body_bottom && page.data.body_bottom.length) { %>
            <section class="main_container__bottom">         
                <%- plugins.blocks(page.data.body_bottom) %>
            </section>
        <% } %>

        <!-- Footer -->
        <!-- ====== -->
        <% if(page.data.footer_hide != 'yes') { %>
            <%- plugins.include('blocks/core/footer/view.html', { cache: true }) %>
        <% } %>
        
        <!-- Real Url -->
        <!-- ======== -->
        <script>
            var flash_original_url = '<%- page.original_url %>';
        </script>

        <!-- JS Bundle -->
        <!-- ========= -->
        <script src="/assets/js/bundle.min.js?v=<%- site.config.timestamp %>" async defer></script>

        <!-- Recaptcha -->
        <!-- ========= -->
        <% if(site.config.recaptcha) { %>
            <script src="https://www.google.com/recaptcha/api.js?onload=recaptchaCallback&render=explicit" async defer></script>
            <script>var recaptcha_key = '<%= site.config.recaptcha %>';</script>
        <% } %>

        <!-- Storyblok -->
        <!-- ========= -->
        <% if(environment != 'production') { %>
            <%- plugins.include('snippets/storyblok.html', { cache: true }) %>
        <% } %>
    </body>
</html>
<%
    // In case a module has an optional details page, this bit of code
    // restore the original data
    if(page_original_data) {
        page.data = page_original_data
    }
%>